@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body   {
    background: aqua;
    font-family: a_OldTyperTitulNr;
    font-family:'Roboto', sans-serif;;
}
.avatar {
    size: 800px;
    border-radius: 50px;
    box-shadow: 11px 9px 13px 13px ;
}
.description p {
    color: blue;
    margin: 0px;
}
