
body, html {
    font-family: 'GT Walsheim Pro', serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
}

.main__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content{
    padding: 120px 140px 160px;

    max-width: 960px;
    margin: 0 auto;
}
.content p{
    line-height: 50px;
    font-size: 40px;
    margin: 0;
}
.content a{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 100;
    line-height: 23px;
}
.hotel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 200px;
    padding-top: 200px;
}
.hotel__mirror{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.hotel img{
    width: 580px;
    height: 395px;
    object-fit: cover;
}
.hotel a{
    margin-top: 60px;
    font-size: 18px;
    font-weight: 100;
    line-height: 23px;
}

.hotel h1{
    line-height: 50px;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}
.hotel__description{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.back{
    background-color: #e9e9e9;
    width: 100%;
    object-fit: cover;
}
.hotel__mirror img{
    width: 580px;
    height: 395px;
    object-fit: cover;
}
.hotel__mirror a{
    margin-top: 60px;
    font-size: 18px;
    font-weight: 100;
    line-height: 23px;
}

.hotel__mirror h1{
    line-height: 50px;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}
.hotel__mirror__description{
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


